.calendar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 8px;
}

.calendar span{
    display: flex;
    place-content: center;
}

.calendar_inactive-day{
    display: flex;
    place-content: center;
    padding: 10px 0 10px 0;
    color: #dedede;
    border: none;
    background: none;
    flex: 1;
}

.day {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;

}

.day-progress {
    background: linear-gradient(90deg, #4D2FFF 0%, #8F19FE 100%);
    border-radius: 0 0 8px 8px;
    align-self: flex-start;
    flex: 1;
}

.day span,
.day_selected span {
    border: none;
    background: none;
    align-self: center;
    z-index: 1;
}
