.meal {
    flex-basis: 100%;
}

.mealCard_divider {
    padding-bottom: 8px;
    border-bottom: solid 1px #DDD;
}

.meal_mealItem {
    color: #b4b3b3;
}

.meal_mealItem-wrapper {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding-top: 8px;
    gap: 4px;
}


