.startpageDesktop_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.startpageDesktop {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 0 16px 0 72px;
    height: 90%;
}

.iphone {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    height: 85%;
    width: 100px;
    border-radius: 40px;
    outline: solid 15px #000;
    margin: 16px;
}

.iphone button {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
}

.qrcode{
    max-width: 100px;
    min-width: 100px;
    margin-top: 12px;
    align-self: center;
    transition: all 0.4s;
}

.hover{
    opacity: 0.2;
    transition: all 0.4s;
}

.lens{
    position: absolute;
    margin-top: 12px;
    opacity: 0;
    max-width: 100px;
    max-height: 100px;
    transition: all 0.2s;
}

.lens-hover{
    opacity: 1;
    transition: all 0.5s;
}

.description {
    flex: 1;
    color: #666;
    text-align: center;
    max-width: 450px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 24.3px */
}
