.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.radio-container-error{
    color: #F30000;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.radio-container-error #radio-label{
    color: #F30000;
    font-weight: 600;
}
#radio-label{
    color: #333;
    font-weight: 600;
}

.radio-container-choice label{
    margin-left: 8px;
}