.input-container,
.input-container-error{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-container-datepicker{
    -webkit-appearance: none;
    color: black;
    align-self: stretch;
    flex-basis: 100%;
    cursor: pointer;
}

.input-container-datepicker:focus{
    cursor: text;
}

.input-container input {
    border-radius: 16px;
    border: 1px solid #666;
    font-size: 16px;
    padding: 16px;
}

.input-container-error input{
    border-radius: 16px;
    border: 1px solid #F30000;
    font-size: 16px;
    padding: 16px;
}

.input-container-error input::placeholder{
    color: #F30000;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"]{
    -moz-appearance: textfield;
}

