.optiongroup {
    display: flex;
    width: 100%;
    border: none;
}

.optiongroup-error {
    display: flex;
    width: 100%;
    box-shadow: 0 0 5px #6f81a5;
    outline: solid #da1818;
    border-radius: 4px;
    outline-offset: -2px;
}

.optiongroup-label{
    color: #da1818;
    margin-left: 2px;
}

.optiongroup-button {
    flex-basis: 100%;
    display: flex;
    -webkit-appearance: none;
    height: 60px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    border: none;
}

.optiongroup-button-active {
    flex-basis: 100%;
    display: flex;
    -webkit-appearance: none;
    height: 60px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: black;
    background: lightblue;
    border: none;
}

