.addfooditem{
    padding: 0 24px 0 24px;
}

.addfooditem-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addfooditem-search-output{
    margin-top: 24px;
    padding: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    border-top: solid black 1px;
}