.profilescreen{
    padding: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
}

.modalAddFoodItem-btn-wrapper button.delete{
    background: #F30000;
}

.profilescreen-wrapper{
    display: flex;
    flex-direction: column;
    height: 120vh;
    gap: 24px;
}

.profilescreen-title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #DDD;
    padding-bottom: 32px;
}

.profilescreen-title-wrapper h1{
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

.profilescreen-stats-wrapper{
    margin-top: -24px;
}

.profilescreen-stats-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #DDD;
    background: transparent;
    width: 100%;
    padding: 24px 0 24px 0;
}
.profilescreen-stats-item span,
.profilescreen-stats-item-error span{
    flex: 1;
}

.activity-radio-wrapper{
    display: flex;
    width: 100%;
}

.radio-container-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 8px;
}

.radio-container-choices{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.profilescreen-stats-item-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #DDD;
    background: transparent;
    width: 100%;
}


.profilescreen-stats-item-error-message{
   color: #F30000;
   margin-top: 20px;
}

.profilescreen-stats-item input{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid #666;
    flex: 1;
    background: none;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 8px;
}

.profilescreen-stats-item input:not(
#Couchpotato,
#Leistungssportler,
#Spaziergänger,
#Discopumper){
    width: 100%;
}

input::-webkit-date-and-time-value {
    text-align: left;
}


.profilescreen-stats-item-error input{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid #F30000;
    flex: 1;
    -webkit-appearance: none;
    background: none;
    color: #F30000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profilescreen-btn-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.profilescreen-btn-edit{
    margin-top: 20px;
}

.profilescreen-btn-delete{
    margin-top: 20px;
    height: 30px;
    border: none;
    background: red;
    border-radius: 4px;
    color: white;
}

.profilescreen-btn-edit,
.profilescreen-title-wrapper button{
    height: 30px;
    border: none;
    background: white;
    border-radius: 4px;
}

.profilescreen-btn-edit:hover,
.profilescreen-title-wrapper button:hover{
    box-shadow: 0 0 5px #6f81a5;
    border-radius: 4px;
}

.profilescreen-avatar{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background: white;
}