.regscreen-caption-wrapper{
    margin: 0 auto;
    max-width: 340px;
}

form {
    padding: 15px 0 40px 0;
    max-width: 340px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.btn-submit {
    width: 100%;
}