.modalFoodItem-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 8px 24px;
}

.modalFoodItem-title{
    color: #333;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
}

.modalFoodItem_foodItems-wrapper {
    max-height: 50dvh;
    overflow: scroll;
    padding: 16px 24px 0 24px;
}